.container {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.user-input, .daily-forecast {
  height: 100vh;
  background-color: black;
  color: white;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-input > * {
  margin: 5px auto;
}

.btn-group {
  display: flex;
}

.btn-group > button {
  margin: 0 4px;
  border-radius: 4px;
  padding: 3px;
}

#get-location {
  display: flex;
  align-items: center;
}
